.direnv
dist-newstyle
result
/.pre-commit-config.yaml
.vscode/
*~
*#*
.pre-commit-config.yaml
**/node_modules
/.psc-package/
**/.psc*
**/.purs*
**/.psa*
**/.spago
**/.spago2nix
**/dist
**/output
.DS_Store
